html{
	color: var(--cor-branca);
	font-size: 62.5%;
	font-weight: 300;
}
body {
	background-color: var(--cor-fundo-cinza-escuro);
}

ul {
	list-style: none;
}

li {
	text-transform: uppercase;
}

a {
	text-decoration: none;
	color: var(--cor-branca);
}
.row{
	display: flex;
}
.justify-content-between{
	justify-content: space-between;
}
.alinhar-itens-no-centro{
	align-items: center;
}